.crypto-view-page {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 50px;
}

.crypto-view {
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  text-decoration: none;
  color: #000;
  font-size: 60px;
  margin: 0 20px;
}

.crypto-view-fullscreen {
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 60px;
  margin: 0 20px;
}

.crypto-view-image {
  width: 250px;
  height: 250px;
}

.crypto-view-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  width: 100%;
  min-height: auto;
}

.crypto-view-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.crypto-view-price {
  font-size: 100px;
  margin-top: 20px;
}

.crypto-view-rankwrapper {
  font-weight: bold;
  margin: 0 0 0 20px;
}

.crypto-view-rank {
  border-radius: 6px;
  background-color: lightgray;
  padding: 2px 20px;
}

@media (max-width: 1200px) {
  .crypto-view-rankwrapper {
    margin: 20px 0 0 0;
  }

  .crypto-view-top {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .crypto-view, .crypto-view-fullscreen {
    flex-direction: column;
    padding: 50px 0;
  }

  .crypto-view-content {
    min-height: 350px;
  }
}

@media (max-width: 780px) {
  .crypto-view-price {
    font-size: 65px;
  }
}

@media (max-width: 600px) {
  .crypto-view, .crypto-view-fullscreen {
    font-size: 30px;
  }

  .crypto-view-image {
    width: 40vw;
    height: 40vw;
  }

  .crypto-view-content {
    margin: 30px 0 0 0;
    justify-content: normal;
    min-height: auto;
  }

  .crypto-view-price {
    font-size: 40px;
  }
}

@media (max-width: 780px) and (max-height: 400px)  {
  .crypto-view, .crypto-view-fullscreen {
    flex-direction: row;
    padding: 0 50px;
    font-size: 30px;
  }

  .crypto-view-image {
    width: 30vw;
    height: 30vw;
  }

  .crypto-view-content {
    justify-content: normal;
    min-height: auto;
  }

  .crypto-view-price {
    font-size: 60px;
  }
}
