#layout {
  height: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #0080FF;
  color: #FFF;
  font-size: 25px;
  font-weight: bolder;
}

#logo {
  font-size: 20px;
}

main {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
